*{
    margin:0;
    padding:0;
}

ul{
    list-style: none;
    display: flex;
}
body{
    background: #eaf3f5;
}
.nav{
    width:100%;
}
.nav_main{
    display: flex;
    align-items: center;
    padding: 1rem 4rem ;
}
.nav1{
    width: 30%;
}
.nav2{
    width: 70%;
    position: relative;
    right: 0;
   }
.nav2a{
    font-weight: 500;
}
.nav2 li{
    padding: 0 1rem;
}
/* ************************ */
.Home{
    width: 100%;
}
.home_main{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
}
.home1{
    width: 10%;
}
.home2{
    width: 50%;
}
.home3{
    width: 40%;
}
.home1_col1 h4{
    padding: 1rem;
    font-size: 1.3rem;
}
/* ************************ */


